@use "mixin" as *;

// ======================================
// ボタン
// ======================================
.c-button {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 10px;
  background-color: #e85b24;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  transition:
    opacity 0.3s ease,
    background-color 0.3s ease,
    transform 0.3s ease;
}

.c-button:hover {
  opacity: 0.85;
}

.c-button--green {
  background-color: #005661;
}

.c-button--green:hover {
  opacity: 1;
  background-color: #00717f;
  transform: none;
}

// ======================================
// カード（Lineup）
// ======================================
.c-card {
  padding: 18px 12px;

  background-color: #fff;

  border: 1px solid rgba(214, 198, 180, 0.42);
  border-radius: 10px;

  box-shadow:
  0 2px 0 rgba(186, 164, 140, 0.18),
  0 3px 4px rgba(186, 164, 140, 0.08);

  transition:
    transform 0.16s ease-out,
    box-shadow 0.16s ease-out,
    border-color 0.16s ease-out;
}

.c-card:hover {
  transform: translateY(-4px);

  border-color:
    rgba(194, 174, 150, 0.68);

  box-shadow:
    0 4px 0 rgba(186, 164, 140, 0.20),
    0 6px 8px rgba(186, 164, 140, 0.10);
}


// ======================================
// しずくバッジ（FV用）
// SP基本
// ======================================
.c-badge-drop {
  display: grid;
  place-items: center;
  width: 104px;
  aspect-ratio: 1 / 1;
  letter-spacing: 0.08em;

  color: #fff;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.35;

  border-radius: 100% 100% 0 100%;
  background: linear-gradient(135deg, #0d6b74, #004f57);

  box-shadow:
    0 0 0 3px #0b5c63,
    0 6px 14px rgba(0, 0, 0, 0.18);
}

.c-badge-drop--accent {
  font-size: 1.5rem;
  background: linear-gradient(135deg, #ff7a3c, #e85b24);

  box-shadow:
    0 0 0 3px #d94c1d,
    0 6px 14px rgba(0, 0, 0, 0.18);
}

// ======================================
// PCのときのしずくバッジ
// ======================================
@include mq {
  .c-badge-drop {
    width: 120px;
    letter-spacing: 0.1em;
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .c-badge-drop--accent {
    font-size: 1.7rem;
  }

  .c-card {
    padding: 22px 16px;
  }
}